# Database
postgres_data/

# Environment files and keys
*.env
.env
backend/.env
backend/.env.production

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints/

# Node/Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Operating System
.DS_Store
Thumbs.db
